
@media only screen and (max-width: 400px) {
	h1 {
		text-align: center;
	}
	.sidebar {
		display:inline-block;
		padding-bottom: 20px;
		padding-top: 20px;
		border-top: 1px solid #979797;
	}
}

.frame {
	padding: 20px;
}


.about {
	clear: both;
}

.quotation {

}


