@media only screen and (max-width: 570px) {
    body {
        text-align: center;
        font: 12px "Gotham A", "Gotham B", sans-serif;
        color: #292b2c;
        line-height: 18px;
        background: #f7f7f7;
        -webkit-font-smoothing: antialiase;
    }
    
    h1 {
        text-transform: uppercase;
    }

    a {
        text-decoration: none;
        font-size: 10px;
        margin: 0 10px 10px;
        display: inline-block;
        color: #8a8a8a;
        text-transform: uppercase;
    }

    .social a {
            display: inline-block;
            margin: 0 2px;
            opacity:1;
            font-size: 10px;
            color: #7b7b7b;
        }

    .social a img {
            display: inline-block;
    }
    img {
        vertical-align: middle;
        border: 0;
        height: 44px;
        width: 44px;
    } 


}