h1 {
        text-align: center;
}
.frame, #photo {
        padding: 25px;
}
.quotation {
        font-style: italic; 
        margin: 25px 0 0;
}
.sidebar {
      padding: 50px 0;
}


@media only screen and (max-width: 980px) {
    h1 {
        padding:25px;
    }
    .sidebar { 
        border-top: 1px solid #979797;
        text-align: center;
    }
     .about {
        clear: both;
        padding: 50px 0;
        text-align: center;
    }
    
}

@media only screen and (min-width: 981px) {
    .infocontainer {
        display: inline-block;
        width: 400px;
    }
    .sidebar {
        display: inline-block;
        width: 200px;
    }
}


