
@media only screen and (max-width: 400px) {
	.sidebar {
		display:inline-block;
		padding-bottom: 20px;
		padding-top: 20px;
		border-top: 1px solid #979797;
	}
}

.frame {
	padding: 20px;
}
/*.h2 {
	text-align: center;
	font-color: green;
	padding-bottom: 50px;
}
.sidebar, .about {
	display: inline-block;
	vertical-align: text-top;
}*/


