* { margin: 0; padding: 0; }
html { 
	height: 101%;
}

body { 
	background: #fff ; 
	font-size: 62.5%; 
	padding-bottom: 65px; 
}
h1, h2, h3 { 
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif; /*font-family: "Simonetta", "Trebuchet MS", Arial, sans-serif; color: #e4809c; font-size: 3.6em; margin-bottom: 6px; */
	color: #000;
}

h1 {
	font-size: 3.6em; 
	margin-bottom: 6px; 
}

h2 { 
	font-size: 2.5em; 
	margin-bottom: 10px; 
}

h3 { 
	font-weight: normal; 
	font-size: 1.8em; 
	margin-bottom: 10px; 
}

h4 { 
	font-family: "Trebuchet MS", Verdana, Arial, sans-serif; 
	color: #656565; 
	font-weight: bold; 
	font-size: 1.75em; 
	margin-bottom: 4px; 
}

p { 
	font-family: "Balthazar", "Droid Serif", serif; 
	color: #565656; 
	font-size: 1.8em; 
	line-height: 1.4em; 
	margin-bottom: 15px;  
}

small { 
	font-family: "Balthazar", "Droid Serif", serif; 
	color: #656565; 
	font-size: 1.6em; 
	display: block; 
	margin-bottom: 6px; 
}

ul { 
	display: block; 
	list-style: none; 
}

 .skillname{ 
	padding-left: 45px; 
	list-style-type: none; 
	vertical-align: top; 
	background: url('images/bullet.png') 25px 5px no-repeat; 
	margin-bottom: 5px; 
	font-family: "Balthazar", "Droid Serif", serif; color: #666; font-size: 1.6em; 
	line-height: 2.3em; 
}

img { 
	border: 0; 
	max-width: 100%; 
}

a { 
	color: #5582d6; 
	text-decoration: none; 
}

a:hover { 
	text-decoration: underline; 
}

/** @group core layout **/
#w { 
	margin: 0px 50px; 
	padding: 20px 40px; 
	padding-top: 35px; 
	background: #fff; 
	min-width: 260px; 
	max-width: 1050px; 
	border-bottom-right-radius: 8px; 
	border-bottom-left-radius: 8px; 
	-webkit-border-bottom-left-radius: 8px; 
	-webkit-border-bottom-right-radius: 8px; 
	-moz-border-radius-bottomleft: 8px; 
	-moz-border-radius-bottomright: 8px; 
}

header { 
	width: 100%; 
}

/** @group personal settings **/
#info { 
	float: left; 
	margin-bottom: 12px; 
}

#photo img { 
	max-width: 50%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	background-color: #fff;
	display: block;
	margin: auto;
}


/** @group clearfix **/
.clearfix:after { 
	content: "."; 
	display: block; 
	clear: both; 
	visibility: hidden; 
	line-height: 0; 
	height: 0; 
}

.clearfix { 
	display: inline-block; 
}
 
html[xmlns] .clearfix { 
	display: block; 
}

* html .clearfix { 
	height: 1%; 
}

.footer{
	height: 10em;
	margin-bottom: 0;
	margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
}

.footer .social-media-icons {
   	list-style:none;
   	padding-top: 2em;
   	padding-bottom:2em;
}

.social-media-icons li {
	display: inline-block; 
	padding: 0 5px; 

}

.social_icon {
	height: 42px;
	width: 44px;
	display: block;
	margin-top: 1px;
}


 .copyright {
	display: list-item;
	text-align: -webkit-match-parent;
	padding-left: 0; 
	margin-bottom: 5px; 
	font-family: "Balthazar", "Droid Serif", serif;
	color: #666; 
	font-size: 1.6em; 
	line-height: 2.3em; 
}


